extends layout

block content
  #content
  p bo knows!!!

block templates
  include templates

block scripts
  script(src='js/underscore.js')
  script(src='js/backbone.js')
  script(src='js/scripts.js')