//- main.jade
script#main-template(type="text/template")
  .container
    header.row
      .col-md-12
    main.row
      .col-md-4#app-nav
        .row
          .col-md-12#app-list
        .row
           .col-sm-12#app-query
      .col-md-8#app-content
    footer.row
      .col-md-12
  //- Content should be placed within columns, and only columns 
  //- may be immediate children of rows.
